<h1>Editing Cambio Comite Registro</h1>

<%= render 'form', cambio_comite_registro: @cambio_comite_registro %>

<%= link_to 'Show', @cambio_comite_registro %> |
<%= link_to 'Back', cambio_comite_registros_path %>
