<h3 class="sub">Editar: asignatura</h3>

<%= render 'form', telecom_asignatura: @telecom_asignatura %>

<%= link_to 'Detalles', @telecom_asignatura %> |
<%= link_to 'Back', telecom_asignaturas_path %>
