<h3 class="sub">Editar Baja de asignatura</h3>

<%= render 'form', baja_asignatura: @baja_asignatura %>
<br>
<%= link_to 'Mostrar', @baja_asignatura %> |
<%= link_to 'Regresar', baja_asignaturas_path %>
