<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @baja_asignatura.nombre %>
</p>

<%= link_to 'Edit', edit_baja_asignatura_path(@baja_asignatura) %> |
<%= link_to 'Back', baja_asignaturas_path %>
