<p id="notice"><%= notice %></p>

<p>
  <strong>Semestre:</strong>
  <%= @clave_semestre.semestre %>
</p>

<%= link_to 'Edit', edit_clave_semestre_path(@clave_semestre) %> |
<%= link_to 'Back', clave_semestres_path %>
