<h3 class="sub">Editar: asignatura</h3>

<%= render 'form', electronica_asignatura: @electronica_asignatura %>

<%= link_to 'Detalles', @electronica_asignatura %> |
<%= link_to 'Regresar', electronica_asignaturas_path %>
