<h3 class="sub">Nueva asignatura de Ingenier&iacute;a Electr&oacute;nica</h3>

<%= render 'form', electronica_asignatura: @electronica_asignatura %>

<%= link_to 'Regresar', electronica_asignaturas_path %>
