<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @examen_graduado.tipo %>
</p>

<%= link_to 'Edit', edit_examen_graduado_path(@examen_graduado) %> |
<%= link_to 'Back', examen_graduados_path %>
