<h3 class="sub">Detalles</h3>
<p>
  <strong>Anterior:</strong>
  <%= @cambiar_asignatura.anterior %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @cambiar_asignatura.actual %>
</p>

<%= render 'cambiar_asignaturas/links' %>
