<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipos_usuario.tipo %>
</p>

<%= link_to 'Edit', edit_tipos_usuario_path(@tipos_usuario) %> |
<%= link_to 'Back', tipos_usuarios_path %>
