<h3 class="sub">Detalles</h3>

<p>
  <strong>Tipo:</strong>
  <%= @tipos_usuario.tipo %>
</p>

<%= link_to 'Editar', edit_tipos_usuario_path(@tipos_usuario) %> |
<%= link_to 'Regresar', tipos_usuarios_path %>
