<h3 class="sub">Detalles</h3>
<p>
  <strong>Tipo:</strong>
  <%= @examen_tipo.tipo %>
</p>

<%= link_to 'Editar', edit_examen_tipo_path(@examen_tipo) %> |
<%= link_to 'Regresar', examen_tipos_path %>
