<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @baja_programa.nombre %>
</p>

<%= link_to 'Edit', edit_baja_programa_path(@baja_programa) %> |
<%= link_to 'Back', baja_programas_path %>
