<h3 class="sub">Editar: asignatura</h3>

<%= render 'form', sistemas_asignatura: @sistemas_asignatura %>

<%= link_to 'Detalles', @sistemas_asignatura %> |
<%= link_to 'Regresar', sistemas_asignaturas_path %>
