<h3 class="sub">Editar: nombre del consejero</h3>

<%= render 'form', sistemas_consejero: @sistemas_consejero %>

<%= link_to 'Detalles', @sistemas_consejero %> |
<%= link_to 'Regresar', sistemas_consejeros_path %>
