<h3 class="sub">Editar: asignatura</h3>

<%= render 'form', electrica_asignatura: @electrica_asignatura %>

<%= link_to 'Detalles', @electrica_asignatura %> |
<%= link_to 'Regresar', electrica_asignaturas_path %>
