<h1>Editing Electrica Asignatura</h1>

<%= render 'form', electrica_asignatura: @electrica_asignatura %>

<%= link_to 'Show', @electrica_asignatura %> |
<%= link_to 'Back', electrica_asignaturas_path %>
