<h3 class="sub">Detalles</h3>
<p>
  <strong>Anterior:</strong>
  <%= @cambiar_consejero.anterior %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @cambiar_consejero.actual %>
</p>

<%= render 'cambiar_consejeros/links' %>
