<h3 class="sub">Editar: nombre del consejero</h3>

<%= render 'form', telecom_consejero: @telecom_consejero %>

<%= link_to 'Detalles', @telecom_consejero %> |
<%= link_to 'Regresar', telecom_consejeros_path %>
