<h3 class="sub">Detalles</h3>

<p>
  <strong>Nombre:</strong>
  <%= @telecom_consejero.nombre %>
</p>

<%= link_to 'Editar', edit_telecom_consejero_path(@telecom_consejero) %> |
<%= link_to 'Regresar', telecom_consejeros_path %>
