<h3 class="sub">Editar: asignatura</h3>

<%= render 'form', mecanica_asignatura: @mecanica_asignatura %>

<%= link_to 'Detalles', @mecanica_asignatura %> |
<%= link_to 'Regresar', mecanica_asignaturas_path %>
