<h3 class="sub">Detalles</h3>
<p>
  <strong>Anterior:</strong>
  <%= @cambiar_tema.anterior %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @cambiar_tema.actual %>
</p>

<%= render 'cambiar_temas/links' %>
