<h3 class="sub">Editar: nombre del consejero</h3>

<%= render 'form', mecanica_consejero: @mecanica_consejero %>

<%= link_to 'Detalles', @mecanica_consejero %> |
<%= link_to 'Regresar', mecanica_consejeros_path %>
