<h3 class="sub">Editar: nombre del consejero</h3>

<%= render 'form', electronica_consejero: @electronica_consejero %>

<%= link_to 'Detalles', @electronica_consejero %> |
<%= link_to 'Regresar', electronica_consejeros_path %>
