<h3 class="sub">Nuevo consejero de Ingenier&iacute;a Electr&oacute;nica</h3>

<%= render 'form', electronica_consejero: @electronica_consejero %>

<%= link_to 'Regresar', electronica_consejeros_path %>
