<h1>Editing Consejero Electrica</h1>

<%= render 'form', consejero_electrica: @consejero_electrica %>

<%= link_to 'Detalles'
, @consejero_electrica %> |
<%= link_to 'Regresar', consejero_electricas_path %>
