<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @consejero_electrica.nombre %>
</p>

<%= link_to 'Edit', edit_consejero_electrica_path(@consejero_electrica) %> |
<%= link_to 'Back', consejero_electricas_path %>
