<h3 class="sub">Editar: nombre del consejero</h3>

<%= render 'form', electrica_consejero: @electrica_consejero %>

<%= link_to 'Detalles', @electrica_consejero %> |
<%= link_to 'Regresar', electrica_consejeros_path %>
