<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @electrica_consejero.nombre %>
</p>

<%= link_to 'Edit', edit_electrica_consejero_path(@electrica_consejero) %> |
<%= link_to 'Back', electrica_consejeros_path %>
