<h1>Editing Cambio Comision Registro</h1>

<%= render 'form', cambio_comision_registro: @cambio_comision_registro %>

<%= link_to 'Show', @cambio_comision_registro %> |
<%= link_to 'Back', cambio_comision_registros_path %>
