<p>Hola <%= @resource.email %>!</p>

<p>Puede cambiar su contraeña a través del siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicitó cambiar su contraseña ignore este correo.</p>
<p><strong>Nota: </strong>Su contraseña no cambiará hasta que pulse sobre el enlace y siga las instrucciones correspondientes.</p>
