<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asignatura_electrica.nombre %>
</p>

<%= link_to 'Editar', edit_asignatura_electrica_path(@asignatura_electrica) %> |
<%= link_to 'Regresar', asignatura_electricas_path %>
