<h3 class="sub">Editar: nombre del coordinador</h3>

<%= render 'form', coordinador_nombre: @coordinador_nombre %>

<%= link_to 'Detalles', @coordinador_nombre %> |
<%= link_to 'Regresar', coordinador_nombres_path %>
