<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @coordinador_nombre.nombre %>
</p>

<%= link_to 'Edit', edit_coordinador_nombre_path(@coordinador_nombre) %> |
<%= link_to 'Back', coordinador_nombres_path %>
