<h3 class="sub">Detalles</h3>
<p>
  <strong>Nombre:</strong>
  <%= @coordinador_nombre.nombre %>
</p>

<%= link_to 'Editar', edit_coordinador_nombre_path(@coordinador_nombre) %> |
<%= link_to 'Regresar', coordinador_nombres_path %>
