<p id="notice"><%= notice %></p>

<p>
  <strong>Semestre:</strong>
  <%= @receso_semestre.semestre %>
</p>

<%= link_to 'Edit', edit_receso_semestre_path(@receso_semestre) %> |
<%= link_to 'Back', receso_semestres_path %>
