<h3 class="sub">Editar: nombre del programa de la SEPI</h3>

<%= render 'form', sepi_programa: @sepi_programa %>

<%= link_to 'Detalles', @sepi_programa %> |
<%= link_to 'Regresar', sepi_programas_path %>
