<h3 class="sub">Detalles</h3>

<p>
  <strong>Nombre:</strong>
  <%= @sepi_programa.nombre %>
</p>

<%= link_to 'Editar', edit_sepi_programa_path(@sepi_programa) %> |
<%= link_to 'Regresar', sepi_programas_path %>
