<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sepi_programa.nombre %>
</p>

<%= link_to 'Edit', edit_sepi_programa_path(@sepi_programa) %> |
<%= link_to 'Back', sepi_programas_path %>
